
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links a:active {
    box-shadow: 0px 4px 8px;
    background-color: rgb(215, 122, 122);
    border-radius: 4px;
    text-shadow: 0px 0px 5px gray;
}

body {
    background-color: #d8a8a8;
    color: #333;
    line-height: 1.6;
    
}

header {
    background-color: #c56363;
    padding: 10px;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    color: #ffc0c0;
    border-radius: 5px 5px;
    text-shadow: 0px 0px 5px gray;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(163, 145, 142);
    padding: 5px 10px;
    transition:  0.5s 
}

.nav-links a {
    text-decoration: none;
    color: rgb(213, 181, 169);
    font-weight:700;
    text-shadow: 0px 0px 5px rgb(213, 180, 169);
    border-radius: 5px 5px;
}

.hero {
    height: 80vh;
    background-color: #ffc0c0;      
    display: flex;
    align-items: center;
    padding: 30px 20px ;
    border-radius: 15px 0px 10px 0px;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p {
    color: #fff;
    font-size: 1.2rem;
    text-shadow: 1px 1px 4px ;
}

.section-container {
   max-width: 800px;           
    margin: 60px auto;          
    padding: 40px;              
    background-color: rgb(250, 174, 147); 
    border-radius: 20px;        
    box-shadow: 0 10px 30px;
    text-align: center;  
}

.section-container img {
  max-width: 300px;  
  width: 100%;      
  height: auto;     
  display: block;   
  margin: 0 auto;   
  border-radius: 12px; 
}

.main-img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 30px;
}

.text-block {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    
}

.split {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
}

.text-content {
    flex: 1;
}

.image-content {
    flex: 1;

}

.image-content img {
    width: 150px;
    height: 125px ;
    object-fit: cover;
    border-radius: 200px;
    
}
